#btn1{
    background-color: blue;
    color: aliceblue;
    border-radius: 20px;
    border-color: rgb(0, 0, 255);
    width: 150px;
    height: 30px;
    
    box-shadow: 1px 1px 2px 2px rgb(185, 185, 185);
}
#btn2{
    color: rgb(66, 172, 234) ;
    border-radius: 20px;
    border-color: rgb(66, 172, 234);
    width: 150px;  
    height: 30px;
}
.buttons{
    margin-top: 10px;
}
.container{
    display: flex;
    margin-left: 250px;
    margin-top: 100px;
    box-shadow: 2px 2px 5px 2px rgb(65, 64, 64);
    width: 750px;
    height: 450px;
    
}
form{
    margin-left: 20px;
}
#w{
    margin-top: 40px;
    
}
p{
    color: rgb(101, 100, 100);
}
.form-control input{
    width: 300px;  
    padding: 7px;
    height: 30px;
    font-size: 1rem;
    left: 1px;
}
.form-control input:is(:focus, :valid) {
    background: #d6cece;
    padding: 16px 20px 0;
}

.form-control label {
    position: absolute;
    top: 50%;
    font-size: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid)~label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}
form .form-control {
    height: 50px;
    position: relative;
    margin-bottom: 16px;
}
form .L1{
    left: 20px;
}
#m2{
   color: red;
}

